body {
    display:flex;
    flex-direction:column;
}
ul {
    margin:0;
    padding:0;
    list-style:none;
}
li {
    padding:2px;
}
.header {
    display:flex;
    justify-content:space-around;
    background-color: #1f2937;
    color:white;
    align-items:center;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    flex:1;
}
.headerlogo {
    font-size:24px;
    font-weight:900;
    color:#f9faf8;
    border-bottom:solid #f9faf8 3px;
    flex-shrink:0;
}
.headerlinkers {
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.hero {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:10px;
    gap:20px;
    background-color: #1f2937;
    color:white;
    margin-bottom:20px;
    padding-bottom:20px;
    flex:1;
    flex-wrap:wrap;
}
.awesome {
    display:flex;
    flex-direction:column;
    gap:20px;
    width:400px;
    border:solid white 5px;
    padding:5px;
    align-items:center;
    text-align:center;
}
.heromaintext {
    font-size:48px;
    color: #f9faf8;
}
.herosubtext {
    font-size:18px;
    color:#e5e7eb;
}
.heroimage {
    border:solid white 5px;
}
button {
    background-color: #3882f6;
    text-align:center;
    font-size:16px;
    color:white;
    border-radius:5px;
    border:none;
    padding:5px;
}
.middle {
    display:flex;
    flex-direction:column;
    flex:1;
}
.info {
    display:flex;
    justify-content:center;
    text-align:center;
    padding:50px;
    flex-wrap:wrap;
}
.boximage {
    border:solid black 4px;
    border-radius:10px;
}
.boximagetext {
    gap:10px;
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    flex:auto;

}
.boxtext {
    width:160px;
    text-align:center;
    display:flex;
    align-items:center;
    justify-content:center;
}
.quote {
    display:flex;
    flex-direction:column;
    padding:100px;
    background-color:#e5e7eb;
    flex-wrap:wrap;
    flex:1;
    gap:30px;
    align-items:center;
    justify-content:center;
}
.quotername {
    word-wrap: break-word;
    max-width: 600px;
    text-align:right;
    font-size:44px;
    font-weight:900;
}
.joan {
    margin-top:30px;
}
.wholequote {
    max-width: 600px;
}
.mainquote {
    max-width: 600px;
    text-align:center;
    margin: 0 auto;
    font-size:36px;
    font-style:italic;
    color:#1f2937;
}

.infotitle {
    text-align:center;
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
    text-decoration:underline overline #1f2937;
    margin-bottom:10px;
    margin-top:30px;
}
.cta {
    background-color:#3882f6;
    margin:10px auto;
    max-width:1000px;
    display:flex;
    justify-content:space-around;
    padding:30px;
    border-radius:10px;
    align-items:center;
}
.ctatext {
    display:flex;
    flex-direction:column;
    gap:10px;
    color:white;
    margin:5px;
}
.ctamaintext {
    font-size:20px;
    font-weight:900;
}
.ctabuttoner {
    border:solid white 3px;
    border-radius:10px;
    font-size:12px;
    text-align:center;
}
.instagram {
    border-bottom:solid white 2px;
}
.herobuttoner {
    margin-bottom:5px;
    border-radius:5px;
}
.footer {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border:#1f2937 solid 3px;
    color:#1f2937;
    margin:0 auto;
    padding:10px;
    font-size:20px;
    font-weight:700;
    border-radius:25px;
    background-color:#e5e7e9;
}